{% extends "base.html" %}


{# main #}
{% block content %}
{% include 'components/forms/update.html' %}
{% endblock %}

{% block breadcrumb %}
<a href="/">Home</a> / <a href="/update">Update</a> / {{ title | capitalize }}
{% endblock %}

{% block script %}
<script async type="module" src="{{ url_for('static', filename='assets/js/views/abstract.js')}}"></script>
<script async type="module" src="{{ url_for('static', filename='assets/js/components/form.js')}}"></script>
<script async type="module" src="{{ url_for('static', filename='assets/js/components/tags.js')}}"></script>
<script async type="module" src="{{ url_for('static', filename='assets/js/views/update.js')}}"></script>
{% endblock %}