<dialog id="modal" class="modal" role="dialog" aria-labelledby="title" aria-describedby="description" aria-expanded="false" inert>
    <button aria-label="Close Dialog" class="material-symbols-outlined" id="close-dialog" aria-hidden="true">close</button>
    <dialog id="modal--search" aria-modal="true">
        {% include "components/forms/filter.html" %}
    </dialog>
    <dialog id="modal--create" aria-modal="true">
        {% include "components/forms/create.html" %}
    </dialog>
    <dialog id="modal--update" aria-modal="true">
        {# populated via js #}
    </dialog>
    <dialog id="modal--login" aria-modal="true">
        {% import "components/forms/forms.html" as forms %}
        <form is="sealed-form">
            <div class="blurred-bg"></div>
            {% call forms.fieldset('Login') %}            
                {{ forms.input('tel', "mobile", '', "placeholder-label") }}
                {{ forms.input('text', "pass", '', "placeholder-label")}}
            {% endcall %}
            <button type="submit">Login</button>
        </form>
    </dialog>
</dialog>